.body {
    width: 100%;
    height: calc(100vh - 10px);
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(38.73deg, rgba(204, 0, 187, 0.35) 0%, rgba(201, 32, 184, 0) 50%), linear-gradient(141.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.35) 100%);
    position: relative;
    overflow: hidden;
    font-size: 2vw;
    /* background-image: linear-gradient(#0f0b10, #382f32); */
}

.about_header {


    font-size: 200px;

    color: rgba(255, 255, 255, 0.119);
}

@media screen and (max-width: 750px) {
    .about_header {
        font-size: 100px;
    }
}

@media screen and (max-width: 500px) {
    .about_header {
        font-size: 50px;
    }
}

.svg_name {
    position: absolute;
    bottom: 0;
    right: 00%;
    /* transform: translate(-50%, -50%); */
    /* width: 40%;
    height: 100%; */
    stroke-width: 300px;

    max-width: 700px;
    width: 100%;
    z-index: 1;
    stroke-width: 10px;


}


/* 
.svg_name>path:nth-child(2) {
    stroke-dasharray: 532;
    stroke-dashoffset: 532;
}

.svg_name>path:nth-child(3) {
    stroke-dasharray: 281;
    stroke-dashoffset: 281;
}

.svg_name>path:nth-child(4) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(5) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(6) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(7) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(8) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(9) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(10) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(11) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(12) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(13) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
}

.svg_name>path:nth-child(14) {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000;
} */

div>img {
    /* width: 60vw; */
    /* height: 60vh; */
    max-width: 618px;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform 0.5s ease;


}

.hello {

    /* width: 5em; */
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.583);
    font-size: 20.1em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    transition: transform 0.5s ease;

    background: linear-gradient(#ffffff94 0%, #ffffff00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}

.im {
    /* width: 5em; */
    /* font-family: ""; */
    font-family: 'Pacifico';
    /* font-weight: bold; */
    color: white;
    font-size: 6.1em;
    position: absolute;
    top: 58%;
    left: 34%;
    /* transform: translate(0, -50%); */
}

@media screen and (max-width: 1500px) {
    .im {
        font-size: 6.1em;
        left: auto;
        right: 0%;
    }
}

@media screen and (max-width: 750px) {
    .im {
        font-size: 10.1em;
        left: 0%;
    }
}