.container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    height: 100dvh;

    position: relative;
    background-color: black;


}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
    overflow: -moz-scrollbars-none;
}


section {
    background-color: black;
    scroll-snap-align: start;
    height: 100vh;
    height: 100dvh;

}