:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);

    --c1: rgb(23, 27, 31);
    --c2: rgb(178, 159, 103);

    --left-color: var(--c1);
    --right-color: var(--c2);

    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
    --bg-color: #2a0303;
    --card-color: #3b0404;
    --mouse-y: 10%;
    --mouse-x: 10%;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
    position: relative;
    text-decoration: none;
}

a:hover {
    background-size: 100% 2px;
}

.trans_header {


    font-size: 200px;

    color: rgba(255, 255, 255, 0.119);
}

@media screen and (max-width: 750px) {
    .trans_header {
        font-size: 100px;
    }
}

@media screen and (max-width: 500px) {
    .trans_header {
        font-size: 50px;
    }
}