/* .body {
height: calc(100vh - 10px);
    width: 100vw;
    background-color: black;
    display: flex;
    background: linear-gradient(121deg, #FF0000 0%, #ff0000 100%), linear-gradient(140deg, #ff5454 27%, #223DCB 100%), linear-gradient(140deg, #4E9C51 0%, #001AFF 72%), linear-gradient(64deg, #6e00ff 0%, #0038FF 100%), radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%), radial-gradient(100% 100% at 70% 0%, #7A3B00 0%, #1DAC92 100%);
    background-blend-mode: overlay, overlay, difference, difference, color-burn, exclusion;
    color: white;
} */



.body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: calc(100vh - 10px);
    height: calc(100dvh - 10px);
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    position: relative;
    overflow: hidden;

    background: rgb(136, 104, 102);
    background: linear-gradient(225deg, rgba(136, 104, 102, 1) 9%, rgba(42, 38, 53, 1) 54%, rgba(15, 12, 29, 1) 100%);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
    /*   flex-direction:column; */
    gap: 20px;
    max-width: 1000px;
    width: calc(85% - 20px);
    overflow: visible;

    /* height: calc(80% - 20px); */
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
        "Big1 Big1 . ."
        ". Big2 Big2 Big2"
        ". Big3 Big3 .";
    position: relative;
    width: 90%;
    height: 85%;
    padding: 10px;
    margin: 10px;

}

.Big1 {
    grid-area: Big1;
}

.Big2 {
    grid-area: Big2;
}

.Big3 {
    grid-area: Big3;
}

/* .cards:hover>.card::after {
    opacity: 1;
} */

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    /* cursor: pointer; */
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;

    height: 100%;
    width: 100%;
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {

    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::after {
    opacity: 1;
}

.card::before {
    background: radial-gradient(1200px circle at var(--mouse-x) var(--mouse-y),
            rgba(253, 149, 91, .1),
            transparent 40%);
    z-index: 4;
}

.card::after {
    background: radial-gradient(1000px circle at var(--mouse-x) var(--mouse-y),
            /* rgba(72, 175, 151, .6), */
            rgba(253, 148, 91, 0.955),
            transparent 40%);
    z-index: 2;
}

.card>.card_content {
    background-color: var(--card-color);
    /* background-color: #001aff20; */
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 2px;
    padding: 8px;
    padding-bottom: 18px;
    position: absolute;
    z-index: 3;
    overflow: scroll;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

i {
    color: rgb(240, 240, 240);
}

.card_image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card_image>i {
    font-size: 6em;
    opacity: 0.25;
}

.card_info_wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card_info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card_info>i {
    font-size: 1em;
    height: 20px;
    line-height: 20px;
}

.card_info_title>h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card_info_title>h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

.cards {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr 0.7fr 0.7fr 1.3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "col13_row11 col13_row11 col13_row11 col45_row11 col45_row11"
        "col11_row23 col25_row22 col25_row22 col25_row22 col25_row22"
        "col11_row23 col23_row33 col23_row33 col34_row33 col34_row33";
}

.card {
    box-shadow: -12px 12px 12px 3px rgba(8, 5, 25, 0.69);
    -webkit-box-shadow: -12px 12px 12px 3px rgba(8, 5, 25, 0.69);
    -moz-box-shadow: -12px 12px 12px 3px rgba(8, 5, 25, 0.69);
    transform: translateX(-50%);
    transition: box-shadow 0.7s;
}

.cards:hover {
    z-index: 1;
}

.cards:hover .card::before {
    opacity: 0;
}

.card:hover::before {
    opacity: 1 !important;
}

.cards:hover+.header {
    z-index: 0;
}


.col11_row23 {
    grid-area: col11_row23;
}

.col23_row33 {
    grid-area: col23_row33;
}

.col34_row33 {
    grid-area: col34_row33;
}

.col13_row11 {
    grid-area: col13_row11;
}

.col45_row11 {
    grid-area: col45_row11;
}

.col25_row22 {
    grid-area: col25_row22;
}



@media(max-width: 700px) {
    .body {
        align-items: flex-start;
        overflow: auto;
    }

    .cards {
        display: flex;
        max-width: 1000px;
        padding: 10px 0px;
    }



    .card {
        flex-shrink: 1;
        width: calc(45% - 4px);
        height: calc(45% - 4px);

    }
}

@media(max-width: 500px) {
    .card {
        height: calc(35% - 4px);
        width: calc(100% - 4px);
    }

    .card:nth-child(3) {
        height: calc(42% - 4px);
    }

    .card_image {
        height: 80px;
    }

    .card_image>i {
        font-size: 3em;
    }

    .card_info_wrapper {
        padding: 0px 10px;
    }

    .card_info>i {
        font-size: 0.8em;
    }

    .card_info_title>h3 {
        font-size: 0.9em;
    }

    .card_info_title>h4 {
        font-size: 0.8em;
        margin-top: 4px;
    }
}

@media(max-width: 320px) {
    .card {
        width: 100%;
    }
}




/* 
background: rgb(140, 107, 105);
background: linear-gradient(230deg, rgba(140, 107, 105, 1) 0%, rgba(28, 26, 40, 1) 100%);
background: rgb(196, 163, 154);
background: linear-gradient(225deg, rgba(196, 163, 154, 1) 0%, rgba(19, 17, 34, 1) 100%); 
background: rgb(196, 163, 154);
background: linear-gradient(225deg, rgba(196, 163, 154, 1) 0%, rgba(19, 17, 34, 1) 80%);
background: rgb(196, 163, 154);
background: linear-gradient(235deg, rgba(196, 163, 154, 1) 0%, rgba(136, 104, 102, 1) 26%, rgba(42, 38, 53, 1) 58%, rgba(15, 12, 29, 1) 100%);
*/