.body {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    height: calc(100vh - 10px);
    height: calc(100dvh - 10px);
    display: grid;
    place-items: center;
    z-index: 21;
    position: relative;
}

.beforeZ {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    position: relative;

    background-color: black;
    /* z-index: 1; */
}

.star {
    position: absolute;
    /* background-color: hsl(257, 100%, 50%); */
    border-radius: 50%;
    /* width: 10px;
    height: 10px; */
    animation: starAni 30s ease infinite alternate;
    transition: all 500ms ease;
    opacity: 0;
    z-index: 20;
}

.debug {
    /* display: none; */
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
}

.word {
    color: white;
    /* display: grid;
    place-items: center; */
    /* height: 100%; */
    width: 80%;
    pointer-events: none;
    cursor: pointer;
    font-size: 170px;
    /* font-weight: bolder; */

    /* color: rgba(255, 255, 255, 0.119); */
    /* color: rgba(255, 255, 255, 0.119); */
    /* color: rgba(255, 255, 255, 0.583); */
    /* font-size: 10.1em; */


    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    left: 10%;
    display: grid;
    place-items: center;
    /* background: linear-gradient(#ffffff94 0%, #ffffff00 100%); */
    /* background-clip: text; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */

    text-align: justify;
    font-size: 8vw;
    height: fit-content;
    z-index: 2;
    animation: word-anime 1s ease forwards;
}

.word-out {
    animation: word-anime-out 1s ease forwards;
}


@keyframes word-anime {
    0% {
        transform: translateY(0%);
        opacity: 0;
        display: none;
    }

    100% {
        transform: translateY(-50%);
        opacity: 1;
        display: inline;
    }

}

@keyframes word-anime-out {
    0% {
        transform: translateY(-50%);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }


}

.word>div {
    text-align: center;
}

.im {
    /* width: 5em; */
    /* font-family: ""; */
    font-family: 'Pacifico';
    /* font-weight: bold; */
    color: white;
    font-size: 6.1em;
    position: absolute;
    top: 58%;
    left: 34%;
    /* transform: translate(0, -50%); */
}

.light {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    /* background-color: blue; */
    z-index: 19;
    background: radial-gradient(circle at var(--x) var(--y), rgba(0, 0, 0, .1) 10%, rgba(0, 0, 0, .5) 12%, rgba(0, 0, 0, .96) 25%);
}

@keyframes starAni {
    0% {

        opacity: var(--opacity);
    }

    30% {
        opacity: .2;

    }

    70% {

        opacity: .2;
    }

    100% {
        opacity: var(--opacity);


    }
}

/*  cubic-bezier(0.52, 0.22, 0.86, 0.37) */