.outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: outerAnimation 0.5s forwards;
}

.inner.inner {

    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: auto;
    border: 0px;
    animation: innerAnimation 0.5s forwards;

}

@keyframes outerAnimation {
    0% {

        backdrop-filter: blur(00px);
    }

    100% {

        backdrop-filter: blur(20px);
    }
}

@keyframes innerAnimation {
    0% {
        transform: scale(.8);
        filter: blur(20px);
    }

    100% {
        transform: scale(1);

        filter: blur(00px);
    }
}